.index-page{
  a{
    color: #3c8dbc;
    display: block;
  }
  // .pop{
  //   float: left;
  //   margin: 0 10px;
  //   text-align: center;
  //   img{
  //     width:80%;
  //     margin:5px 0 10px ;
  //   }
  //   background-color: #fff;
  //   width:15%;
  //   height:250px;
  // }
  img{
    width:100px;
  }
  .last_pack{
    float: left;
    width:100%;
    background-color: #fff;
    text-align: center;
    a{
      display: inline-block;
      position: relative;
      color: #3c8dbc;
      margin:10px 5px;
      img{
        width:95px;
      }
      p{
        position: relative;
        bottom: -6px;
      }
    }

  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .news{
    background-color: #fff;
    height:220px;
    width:48%;

    margin-bottom: 20px;

    table{
      text-align: center;
      border-collapse: collapse;
      width:100%;
      tr{
        &:hover{
          background-color: #f7f7f7;
        }
      }
      td{
        color: #444;
        padding: 10px;
        border:none;
        border-top:1px solid #ddd;
        line-height: 15px;
        &:first-child{
          width:20%;
        }
        &:nth-child(2){
          width:80%;
        }

        a{
          padding: 0;
        }
      }
    }

  }
  .title{
    border-top:2px solid #3c8dbc;
    padding: 6px 10px 0;
    font-size: 1.5rem;
    text-align: left;
    background-color: #fff;
    letter-spacing: 2px;
    height: 40px;
    span{
      font-size: 1rem;
    }
  }

}
